.App {
  text-align: center;
}

.title {
  margin-bottom: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.border-solid {
  border: 1px solid;
}

.border-radius {
  border-radius: 4px;
}

.ml-10 {
  margin: 10px;
}

.cards {
  display: flex;
  overflow: auto;
}

.container {
  border: 2px dotted;
}

.tasklist {
  width: 80%;
  margin: auto;
}

.plusButton > button {
  width: 100%;
  margin-bottom: 10px;
}